{% extends 'baseadmin.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
    <h1>Liste des contacts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Youtube</th>
                <th>Instagram</th>
                <th>Linkedin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.Adresse }}</td>
                <td>{{ contact.Telephone }}</td>
                <td>{{ contact.Mail }}</td>
                <td>{{ contact.Facebook }}</td>
                <td>{{ contact.Twitter }}</td>
                <td>{{ contact.Youtube }}</td>
                <td>{{ contact.Instagram }}</td>
                <td>{{ contact.Linkedin }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">Voir</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de contacts trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_new') }}">Ajouter Contact</a>
{% endblock %}
