{% extends 'baseadmin.html.twig' %}

{% block title %}Chef index{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
    <h1>Liste des chefs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Url_photo_chef</th>
                <th>Role</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Linkedin</th>
                <th>Instagram</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chef in chefs %}
            <tr>
                <td>{{ chef.id }}</td>
                <td>{{ chef.Nom }}</td>
                <td>{{ chef.Prenom }}</td>
                <td>{{ chef.UrlPhotoChef }}</td>
                <td>{{ chef.Role }}</td>
                <td>{{ chef.Facebook }}</td>
                <td>{{ chef.Twitter }}</td>
                <td>{{ chef.Linkedin }}</td>
                <td>{{ chef.Instagram }}</td>
                <td>
                    <a href="{{ path('chef_show', {'id': chef.id}) }}">Voir</a>
                    <a href="{{ path('chef_edit', {'id': chef.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de chef enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chef_new') }}">Ajouter un nouveau</a>
{% endblock %}
